<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cqrs.Modelling" version="2.2.1373.615" />
  <package id="Cqrs.Modelling" version="2.2.1374.616" />
  <package id="Cqrs.Modelling" version="2.2.1375.617" />
  <package id="Cqrs.Modelling" version="2.2.1376.618" />
  <package id="Cqrs.Modelling" version="2.2.1378.620" />
  <package id="Cqrs.Modelling" version="2.2.1379.621" />
  <package id="Cqrs.Modelling" version="2.2.1380.622" />
  <package id="Cqrs.Modelling" version="2.2.1381.623" />
  <package id="Cqrs.Modelling" version="2.2.1385.626" />
  <package id="Cqrs.Modelling" version="2.2.1389.630" />
</packages>