<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Kendoui php|aspnet-mvc|jsp-ui rewrite" />
                <remove name="GitHub redirect web/integration/index.html" />
                <rule name="GitHub redirect web/integration/index.html" enabled="false" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="web/integration/index.html" />
                    <conditions />
                    <serverVariables />
                    <action type="Redirect" url="https://github.com/kendo-labs/knockout-kendo" appendQueryString="false" />
                </rule>
                <rule name="Kendoui php|aspnet-mvc|jsp-ui rewrite" enabled="false" patternSyntax="ECMAScript">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="(php-ui|aspnet-mvc|jsp-ui)/(.*)" />
                    </conditions>
                    <serverVariables>
                        <set name="X-KENDO" value="{C:1}" />
                    </serverVariables>
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
    <customErrors mode="RemoteOnly" />
		<compilation debug="false" targetFramework="4.0">
            <assemblies>
                <clear />
	   </assemblies>
        </compilation>
    </system.web>
</configuration>
