<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<DefaultPushSource>http://source.cdmdotnet.com</DefaultPushSource>
	<packageSources>
		<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
		<add key="Nightly" value="http://nuget.gw.symbolsource.org/cdmdotnet/cqrs-nightly/af6b9672-b8b4-441f-b216-d0d5bfa66f76/cqrs/FeedService.mvc" />
	</packageSources>
</configuration>