<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.AutoMapper" version="1.0.16.9" targetFramework="net452" />
  <package id="cdmdotnet.Logging" version="1.2.84.66" targetFramework="net45" />
  <package id="cdmdotnet.Performance" version="1.0.5.8" targetFramework="net452" />
  <package id="cdmdotnet.StateManagement" version="3.0.9.7" targetFramework="net45" />
  <package id="Cqrs" version="1.601.1257.515" targetFramework="net45" />
  <package id="Cqrs.Azure.ConfigurationManager" version="1.601.1257.515" targetFramework="net45" />
  <package id="Cqrs.Ninject" version="1.601.1257.515" targetFramework="net45" />
  <package id="Cqrs.WebApi" version="1.601.1257.515" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.WindowsAzure.TransientFaultHandling" version="5.1.1212.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net452" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Web.WebApi" version="3.2.4.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="routedebugger" version="2.1.5" targetFramework="net45" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net45" />
</packages>