<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="LoggerSettings" type="cdmdotnet.Logging.Configuration.LoggerSettingsConfigurationSection, cdmdotnet.Logging" />
	</configSections>
	<appSettings>
		<add key="owin:AppStartup" value="Cqrs.WebApi.SignalR.Hubs.SignalRStartUp" />
		<add key="SqlDataStoreDbFileOrServerOrConnection" value="Data Source=.\sqlexpress;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<serviceHostingEnvironment configSource="system.serviceModel.serviceHostingEnvironment.config" />
		<services configSource="system.serviceModel.services.config" />
		<bindings>
			<customBinding>
				<binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="114748364" maxBytesPerRead="114748364" maxDepth="128" maxNameTableCharCount="114748364" maxStringContentLength="114748364" />
					</binaryMessageEncoding>
					<httpsTransport transferMode="Streamed" maxBufferPoolSize="114748364" maxBufferSize="114748364" maxReceivedMessageSize="114748364" />
				</binding>
				<binding name="AspSmsX2Soap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding transferMode="Streamed" maxBufferPoolSize="114748364" maxReceivedMessageSize="114748364" maxBufferSize="114748364" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<readerQuotas maxDepth="32" maxStringContentLength="188192" maxArrayLength="600000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="AspSmsX2Soap">
				</binding>
				<binding name="AspSmsX2Soap1" />
			</basicHttpBinding>
		</bindings>
		<protocolMapping>
			<add scheme="https" binding="basicHttpBinding" />
			<add scheme="http" binding="basicHttpBinding" />
		</protocolMapping>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="114748364" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="114748364" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logMalformedMessages="true" maxMessagesToLog="50000" maxSizeOfMessageToLog="4748364" />
		</diagnostics>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<LoggerSettings EnableInfo="true" EnableProgress="true" EnableSensitive="false" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs" />
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>