.svn
bin
obj
*.user
*.suo
/Sample/ModelingTemplates
/Sample/MyCompany.MyProject.Models/CodeGeneration.Log.xml
/Sample/packages/cdmdotnet.AutoMapper.1.0.10.8
/Sample/packages/Cqrs.1.500.508.396
/Sample/packages/Cqrs.EventStore.1.500.488.374
/Sample/packages/Cqrs.Modelling.1.500.508.396
/Sample/packages/Cqrs.Ninject.1.500.508.396
/Sample/packages/Cqrs.Ninject.InProcess.1.500.389.281
/Sample/packages/Cqrs.Ninject.InProcess.CommandBus.1.500.508.396
/Sample/packages/Cqrs.Ninject.InProcess.EventBus.1.500.508.396
/Sample/packages/Cqrs.Ninject.InProcess.EventStore.1.500.508.396
/Sample/packages/EntityFramework.5.0.0
/Sample/packages/EventStore.Client.3.0.2
/Sample/packages/jQuery.1.7.1.1
/Sample/packages/jQuery.UI.Combined.1.8.20.1
/Sample/packages/jQuery.Validation.1.9.0.1
/Sample/packages/Microsoft.AspNet.Mvc.3.0.20105.1
/Sample/packages/Microsoft.AspNet.Providers.Core.1.1
/Sample/packages/Microsoft.AspNet.Providers.LocalDB.1.1
/Sample/packages/Microsoft.AspNet.Razor.1.0.20105.408
/Sample/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0
/Sample/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0
/Sample/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
/Sample/packages/Microsoft.AspNet.WebPages.1.0.20105.408
/Sample/packages/Microsoft.Net.Http.2.0.20710.0
/Sample/packages/Microsoft.Web.Infrastructure.1.0.0.0
/Sample/packages/Modernizr.2.5.3
/Sample/packages/Newtonsoft.Json.4.5.6
/Sample/packages/Newtonsoft.Json.6.0.8
/Sample/packages/Ninject.3.2.2.0
/Sample/packages/Ninject.MVC3.3.2.1.0
/Sample/packages/Ninject.Web.Common.3.2.0.0
/Sample/packages/Ninject.Web.Common.WebHost.3.2.0.0
/Sample/packages/NUnit.2.6.3
/Sample/packages/NUnit.2.6.4
/Sample/packages/structuremap.2.6.3
/Sample/packages/StructureMap.MVC3.1.0.8
/Sample/packages/ValueInjecter.2.3.3
/Sample/packages/WebActivator.1.5
/Sample/packages/WebActivatorEx.2.0
/ModelingTemplates
/packages/cdmdotnet.AutoMapper.1.0.10.8
/packages/Cqrs.1.500.480.367
/packages/Cqrs.Modelling.1.500.328.226
/packages/Cqrs.Modelling.1.500.363.256
/packages/Cqrs.Modelling.1.500.474.361
/packages/EventStore.Client.3.0.2
/packages/Microsoft.Azure.DocumentDB.1.0.0
/packages/Microsoft.Azure.Documents.Client.0.9.3-preview
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.WindowsAzure.ConfigurationManager.3.1.0
/packages/mongocsharpdriver.1.10.0
/packages/Newtonsoft.Json.6.0.8
/packages/Ninject.3.2.2.0
/packages/NUnit.2.6.3
/packages/structuremap.2.6.3
/packages/structuremap.3.1.4.143
/packages/StructureMap.MVC3.1.0.8
/packages/valueinjecter.2.3.3
/packages/WebActivator.1.5
/packages/WindowsAzure.ServiceBus.2.6.5
