# See the comments below for more info on how to add exceptions for your
# content. Or see git's documentation for more info on .gitignore files:
# http://kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore everything in the nuget packages directory except the "repositories.config" file.
## packages/* ## will only ignore files... not folders
packages/
!packages/repositories.config

# Ignore any bin and/or obj folder recursively
bin/
obj/

# Ignore any rcf and/or csx folder recursively for Azure projects
rcf/
csx/

# Ignore the ModellingTemplates folder recursively for UML modelling as these are package based
ModelingTemplates/

# Ignore any *.user and *.suo file recursively 
*.user
*.suo

# Ignore the publish folder which is only used for package publishing... not storing
/publish
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/DateTime.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/Guid.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/decimal.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/double.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/long.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind/System/short.generated.cs
/NorthwindDemo/step-4/aspnet-mvc/Northwind.Models/CodeGeneration.Log.xml
/NorthwindDemo/step-5/aspnet-mvc/Northwind.Models/CodeGeneration.Log.xml
/Code
/Framework/Azure/Tests/Cqrs.Azure.BlobStorage.Test.Integration/app.config
/Framework/Azure/Cqrs.Azure.ServiceBus.Tests.Integration/App.config
/Framework/Azure/Tests/Cqrs.Azure.Storage.Test.Integration/app.config
/Modelling/Cqrs.Modelling.Dsl
