<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cqrs-chat.azurewebsites.net/$ext_safeprojectname$/RestAPI/Help</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cqrs-chat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cqrs-Chat\RestAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Cqrs-Chat</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventStore" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EventStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataStore" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Logs" Order="3" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Logs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <Target Name="CollectXmlFiles">
    <Message Text="=== CollectXmlFiles ===" Importance="high" />
    <ItemGroup>
      <_CustomFiles Include="bin\Cqrs.xml;bin\Cqrs.WebApi.xml;bin\$ext_safeprojectname$.RestAPI.xml;bin\$ext_safeprojectname$.MicroServices.xml" />
      <FilesForPackagingFromProject Include="%(_CustomFiles.Identity)">
        <DestinationRelativePath>bin\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>CollectXmlFiles;
      ;</CopyAllFilesToSingleFolderForPackageDependsOn>
    <CopyAllFilesToSingleFolderForMsdeployDependsOn>CollectXmlFiles;
      ;</CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataStore-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventStore-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Logs-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connect Timeout=30</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>