<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.1.1209.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="LoggerSettings" type="cdmdotnet.Logging.Configuration.LoggerSettingsConfigurationSection, cdmdotnet.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.Azure.BlobStorage.EventStore.ConnectionStringName" value="DefaultEndpointsProtocol=https;AccountName=seaucqrstest;AccountKey=SeSHZTHPohWgCS1PeRcZpzQjroFGqfBvLduKcIfoYbLYBw+Y70Fv607TCUX6kId700Me31oV5mYjQxm1PRqW3Q==" />
		<add key="Cqrs.Azure.BlobStorage.EventStore.BaseContainerName" value="TestEventStore" />
		<add key="Cqrs.Azure.BlobStorage.DataStore.ConnectionStringName" value="DefaultEndpointsProtocol=https;AccountName=seaucqrstest;AccountKey=SeSHZTHPohWgCS1PeRcZpzQjroFGqfBvLduKcIfoYbLYBw+Y70Fv607TCUX6kId700Me31oV5mYjQxm1PRqW3Q==" />
		<add key="Cqrs.Azure.BlobStorage.DataStore.BaseContainerName" value="TestDataStore" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultSqlConnectionRetryStrategy="Fixed Interval Retry Strategy" defaultSqlCommandRetryStrategy="Fixed Interval Retry Strategy" defaultAzureServiceBusRetryStrategy="Fixed Interval Retry Strategy" defaultAzureStorageRetryStrategy="Fixed Interval Retry Strategy">
		<incremental name="Incremental Retry Strategy" />
		<fixedInterval name="Fixed Interval Retry Strategy" maxRetryCount="10" />
		<exponentialBackoff name="Exponential Backoff Retry Strategy" />
	</RetryPolicyConfiguration>
	<typeRegistrationProvidersConfiguration>
		<clear />
		<add name="Caching" sectionName="cachingConfiguration" />
		<add name="Cryptography" sectionName="securityCryptographyConfiguration" />
		<add name="Exception Handling" sectionName="exceptionHandling" />
		<add name="Instrumentation" sectionName="instrumentationConfiguration" />
		<add name="Logging" sectionName="loggingConfiguration" />
		<add name="Policy Injection" sectionName="policyInjection" />
		<add name="Security" sectionName="securityConfiguration" />
		<add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
		<add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
	</typeRegistrationProvidersConfiguration>
	<LoggerSettings EnableInfo="true" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs" />
</configuration>