<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chinchilla.Logging" version="4.1.124.102" targetFramework="net45" />
  <package id="Chinchilla.StateManagement" version="4.1.51.31" targetFramework="net45" />
  <package id="Microsoft.Azure.DocumentDB" version="1.21.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
</packages>