@using Northwind.Web.Dashboard.Models;
<div id="main-section-header" class="row">
    <h2>About</h2>     
</div>

<div id="about" class="main-section-content row">
   <div>
        <h3 class="section-title">Telerik Northwind Dashboard</h3>
        <p>Telerik Northwind Dashboard is a web app built with Telerik <a href="http://www.telerik.com/aspnet-mvc">UI for ASP.NET MVC</a> - 70+ UI components to help you build rich and responsive web apps for any device twice as fast. The controls are comprised of Telerik award-winning <a href="http://www.telerik.com/kendo-ui">Kendo UI HTML5 and JavaScript widgets</a> and their server-side wrappers for ASP.NET MVC.</p>
       
        <p>The sample app showcases some of the most popular Telerik ASP.NET MVC extensions, such as Scheduler, Grid, TabStrip, Charts and Map and is enabled for touch. It has a simple and responsive UI based on <a href="http://getbootstrap.com/">Bootstrap</a> and works on a wide range of devices.
        </p> 

        <p>The sample app is aimed at executives, analysts, or sales representatives. It helps them establish targets based on insights into historical data as well as track sales and product performance in real time.</p>   
        <a class="download-btn" href="https://github.com/telerik/kendoui-northwind-dashboard/tree/master/aspnet-mvc">Get Source Code for ASP.NET MVC</span></a>
   </div>

   <div class="section-white">
       <h3 class="section-title">Featured  ASP.NET MVC UI Components</h3>
       <div class="row">
           <ul class="col-xs-4">
                <li><a href="http://demos.telerik.com/aspnet-mvc/datetimepicker/index">Date Picker</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/dropdownlist/index">DropDownList</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/grid/index">Grid</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/listview/index">ListView</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/scheduler/index">Scheduler</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/tabstrip/index">TabStrip</a></li>
                <li><a href="http://demos.telerik.com/aspnet-mvc/tooltip/index">Tooltip</a></li>        
           </ul>
           <ul class="col-xs-4">
            <li><a href="http://demos.telerik.com/aspnet-mvc/bar-charts/index">Column Charts</a></li>
            <li><a href="http://demos.telerik.com/aspnet-mvc/donut-charts/index">Donut Charts</a></li>
            <li><a href="http://demos.telerik.com/aspnet-mvc/line-charts/index">Line Charts</a></li>
            <li><a href="http://demos.telerik.com/aspnet-mvc/map/index">Map</a></li>
            <li><a href="http://demos.telerik.com/aspnet-mvc/sparklines/index">SparkLines</a></li>
          </ul>
          <ul class="col-xs-4">
            <li><a href="http://demos.telerik.com/kendo-ui/templates/index">Templates</a></li>
            <li><a href="http://demos.telerik.com/aspnet-mvc/validator/index">Validator</a></li>
          </ul> 
       </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#About").addClass("active");
    });
</script>
