<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Cqrs.MessageBus.BlackListProcessing" value="false" />
    <add key="Cqrs.SqlDataStore.ConnectionStringName" value="DataStore" />
    <add key="Cqrs.SqlEventStore.ConnectionStringName" value="EventStore" />
  </appSettings>
  <connectionStrings>
    <add name="DataStore" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyApp.MDF;Integrated Security=SSPI;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=DataStore;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="EventStore" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyApp.MDF;Integrated Security=SSPI;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EventStore;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>