<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.AutoMapper" version="1.0.16.9" targetFramework="net452" />
  <package id="cdmdotnet.Logging" version="1.2.84.66" targetFramework="net452" />
  <package id="cdmdotnet.Performance" version="1.0.5.8" targetFramework="net452" />
  <package id="cdmdotnet.StateManagement" version="3.0.9.7" targetFramework="net45" />
  <package id="Cqrs" version="1.601.1257.515" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net452" />
</packages>