@model MyCompany.MyProject.Domain.Inventory.Entities.InventoryItemEntity
@{
    ViewBag.Title = "ChangeName";
}
<h2>ChangeName</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.Hidden("Id", Model.Rsn)
        Name: @Html.TextBox("Name")<br />
        <button name="submit">Submit</button>
        <a href="/">Back</a>
    </p>
}
    