@model MyCompany.MyProject.Domain.Authentication.Entities.IUserEntity
@{
    ViewBag.Title = "Details";
}
<h2>Details:</h2>
Id: @Model.Rsn<br />
Name: @Model.Name<br />

<a href="DtoIndex">Back</a>