@model IEnumerable<MyCompany.MyProject.Domain.Inventory.Entities.IInventoryItemSummaryEntity>
@{
    ViewBag.Title = "Home Page";
}

<h2>All items:</h2>
<ul>@foreach (var inventoryItemListDto in Model)
    {<li>
        Name: @Html.ActionLink(inventoryItemListDto.Name, "Details", new { Id = inventoryItemListDto.Rsn })
    </li>
}</ul>
@Html.ActionLink("Add","Add")
