<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="cdmdotnet.Logging.Configuration.LoggerSettingsConfigurationSection, cdmdotnet.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.Tests.Substitutes.TestAggregateDoSomething3.IsRequired" value="false" />
<!--
		<add key="Cqrs.MessageBus.BlackListProcessing" value="false" />
-->
	</appSettings>
	<LoggerSettings EnableInfo="false" EnableProgress="true" EnableSensitive="false" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" UseApplicationInsightTelemetryHelper="false" UsePerformanceCounters="false" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs.Local" SqlDatabaseTableName="Logs" />
</configuration>