<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="Chinchilla.Logging.Configuration.LoggerSettingsConfigurationSection, Chinchilla.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.Tests.Substitutes.TestAggregateDoSomething3.IsRequired" value="false" />
		<add key="Cqrs.SqlDataStore.Read.ConnectionStringName" value="Northwind" />
		<add key="Cqrs.SqlDataStore.Write.ConnectionStringName" value="Northwind" />
		<add key="Cqrs.AggregateFactory.TryDependencyResolutionFirst" value="true" />
		<!--
		<add key="Cqrs.MessageBus.BlackListProcessing" value="false" />
-->
	</appSettings>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=.\sqlexpress2014;AttachDbFilename=|DataDirectory|\DataStores\NORTHWND.MDF;Initial Catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=CQRS Tests;User Instance=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.11.0" newVersion="4.1.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<LoggerSettings EnableInfo="false" EnableProgress="false" EnableSensitive="false" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" UseApplicationInsightTelemetryHelper="false" UsePerformanceCounters="false" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs.Local" SqlDatabaseTableName="Logs" />
</configuration>