<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		<add key="Cqrs.EventStoreClientName" value="" />
		<add key="Cqrs.EventStoreConnectionLogStreamName" value="" />
		<add key="Cqrs.EventStoreIp" value="" />
		<add key="Cqrs.EventStorePort" value="" />
		-->
	</appSettings>
</configuration>