<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<serviceHostingEnvironment configSource="system.serviceModel.serviceHostingEnvironment.config" />
		<services configSource="system.serviceModel.services.config" />
		<bindings>
			<customBinding>
				<binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="114748364" maxBytesPerRead="114748364" maxDepth="128" maxNameTableCharCount="114748364" maxStringContentLength="114748364" />
					</binaryMessageEncoding>
					<httpsTransport transferMode="Streamed" maxBufferPoolSize="114748364" maxBufferSize="114748364" maxReceivedMessageSize="114748364" />
				</binding>
				<binding name="AspSmsX2Soap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding transferMode="Streamed" maxBufferPoolSize="114748364" maxReceivedMessageSize="114748364" maxBufferSize="114748364" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<readerQuotas maxDepth="32" maxStringContentLength="188192" maxArrayLength="600000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport" />
				</binding>
				<binding name="AspSmsX2Soap">
					<security mode="Transport" />
				</binding>
				<binding name="AspSmsX2Soap1" />
			</basicHttpBinding>
		</bindings>
		<protocolMapping>
			<add scheme="https" binding="basicHttpBinding" />
			<add scheme="http" binding="basicHttpBinding" />
		</protocolMapping>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="114748364" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="114748364" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logMalformedMessages="true" maxMessagesToLog="50000" maxSizeOfMessageToLog="4748364" />
		</diagnostics>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
