<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.Logging" version="1.2.84.66" targetFramework="net452" />
  <package id="cdmdotnet.Performance" version="1.0.5.8" targetFramework="net452" />
  <package id="cdmdotnet.StateManagement" version="3.0.9.7" targetFramework="net45" />
  <package id="Cqrs" version="1.601.1257.515" targetFramework="net452" />
  <package id="Cqrs.Ninject.ServiceHost" version="1.601.1257.515" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net452" />
</packages>