<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.AutoMapper" version="1.0.16.9" targetFramework="net452" />
  <package id="Chinchilla.Logging" version="4.1.121.100" targetFramework="net452" />
  <package id="Chinchilla.StateManagement" version="4.1.51.31" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
</packages>