<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.AutoMapper" version="1.0.10.8" targetFramework="net40" />
  <package id="cdmdotnet.Logging" version="1.2.58.50" targetFramework="net40" />
  <package id="cdmdotnet.Performance" version="1.0.5.8" targetFramework="net40" />
  <package id="cdmdotnet.StateManagement" version="3.0.9.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" requireReinstallation="True" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
</packages>