<div class="view">
	<div class="container">
		<header>
			<h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} Conversation</h3>
		</header>
		<form name="editForm" novalidate>
			<div class="customerEdit">
				<div class="row">
					<div class="col-md-12">
						<h4>{{ vm.conversation.Name }} <span data-ng-hide="vm.conversation.Rsn === undefined">(<a style="font-size:12pt" href="../{{vm.conversation.Rsn}}">View Conversation</a>)</span></h4>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						Name:
					</div>
					<div class="col-md-10">
						<input type="text" name="Name" class="form-control" data-ng-model="vm.conversation.Name" required />
						<span class="errorMessage" ng-show="editForm.Name.$touched && editForm.Name.$invalid">
							A name is required
						</span>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary" data-ng-click="vm.saveConversation()"
								ng-disabled="editForm.$invalid || !editForm.$dirty">
							{{vm.buttonText}}
						</button>
						&nbsp;&nbsp;
						<button class="btn btn-danger" data-ng-if="vm.conversation.Rsn !== undefined" data-ng-click="vm.deleteConversation()">Delete</button>
					</div>
				</div>
				<br />
				<div class="statusRow">
					<br />
					<div class="label label-success" data-ng-show="vm.updateStatus">
						<span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Conversation updated!
					</div>
				</div>
				<div class="statusRow">
					<br />
					<div class="label label-important" data-ng-show="vm.errorMessage">
						<span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>