<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cqrs.Azure.MessageBus.ConnectionString" value="" />
		<add key="Cqrs.Azure.MessageBus.PrivateEvent.QueueName" value="Cqrs.MessageBus.Private" />
		<add key="Cqrs.Azure.MessageBus.PublicEvent.QueueName" value="Cqrs.MessageBus" />
	</appSettings>
</configuration>