<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="" />
		<add key="Cqrs.Azure.EventBus.PrivateEvent.QueueName" value="Cqrs.EventBus.Private" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.QueueName" value="Cqrs.EventBus" />

		<add key="Cqrs.Azure.CommandBus.ConnectionString" value="" />
		<add key="Cqrs.Azure.CommandBus.PrivateEvent.QueueName" value="Cqrs.CommandBus.Private" />
		<add key="Cqrs.Azure.CommandBus.PublicEvent.QueueName" value="Cqrs.CommandBus" />
	</appSettings>
</configuration>