<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cqrs.Hosts.AppName" value="Cqrs.Ninject.Azure.WebJobs.Tests.Integration" />
		<add key="Cqrs.Hosts.PauseAndWaitMaximumCount" value="0" />
		<add key="Cqrs.Hosts.ApplicationInsights.ConnectionString" value="InstrumentationKey=ApiKey1" />
		<add key="Cqrs.Hosts.ApplicationInsights.OperationName" value="Tests.Integration" />
		<add key="Cqrs.Hosts.ApplicationInsights.CloudRoleName" value="func-cqrs-tests-ninject-azure-beta-au-east" />
		<add key="Cqrs.AuthenticationTokenType" value="Guid" />

		<add key="Cqrs.Azure.CommandBus.ConnectionString" value="1" />
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="2" />

		<add key="Cqrs.Hosts.EnableEventReceiving" value="false" />
		<add key="Cqrs.Hosts.EnableCommandReceiving" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="Cqrs.Hosts.ApplicationInsights.ConnectionString" connectionString="InstrumentationKey=ApiKey2" />
	</connectionStrings>
</configuration>