@{
    ViewBag.Title = "Add D.T.O.";
}
<h2>Add D.T.O.</h2>
@using (Html.BeginForm()) {
    <p>
        Name: @Html.TextBox("Name")<br />
        <button name="submit">Submit</button>
        <a href="DtoIndex">Back</a>
    </p>

}