<div id="main-section-header" class="row">
    <h2>About</h2>
</div>

<div id="about" class="main-section-content row">
    <div>
        <h3 class="section-title">Telerik Northwind Dashboard</h3>
        <p>Telerik Northwind Dashboard is a web app built on top of AngularJS with Progress award-winning
        <a href="http://www.telerik.com/kendo-ui">Kendo UI HTML5 and JavaScript widgets</a>. Kendo UI<sup>&reg;</sup> 
        <a href="http://www.telerik.com/kendo-ui/angularjs-and-kendo-ui-framework-integration">speeds up your AngularJS development</a> with 70+ ready-to-use UI widgets for every need - from the must-have for every app Grids, Dropdowns and Menus to the advanced line-of-business UI, such as Charts, Gantt, Diagram, Scheduler, PivotGrid and Maps.</p>

          
        <p>The sample app showcases some of the most popular Kendo UI widgets, such as Scheduler, Grid, TabStrip, Charts and Map in a real world scenario. It has a simple and responsive UI based on
        <a href="http://getbootstrap.com/">Bootstrap</a> and works on a wide range of devices.</p>

        <p>The sample app is aimed at executives, analysts, or sales representatives. It helps them establish targets based on insights into historical data as well as track sales and product performance in real time.</p>
        <a class="download-btn" href="https://github.com/telerik/kendoui-northwind-dashboard/tree/master/angular">Get Source Code for AngularJS</a>
    </div>

    <div class="section-white">
        <h3 class="section-title">Featured Kendo UI Components</h3>
        <div class="row">
            <ul class="col-xs-4">
                <li>
                <a href="http://demos.telerik.com/kendo-ui/datetimepicker/angular">Date Picker</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/dropdownlist/angular">DropDownList</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/grid/angular">Grid</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/listview/angular">ListView</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/scheduler/angular">Scheduler</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/tabstrip/angular">TabStrip</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/tooltip/angular">Tooltip</a>
                </li>
            </ul>
            <ul class="col-xs-4">
                <li>
                <a href="http://demos.telerik.com/kendo-ui/bar-charts/angular">Column Charts</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/donut-charts/angular">Donut Charts</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/line-charts/angular">Line Charts</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/map/angular">Map</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/sparklines/angular">SparkLines</a>
                </li>
            </ul>
            <ul class="col-xs-4">
                <li>
                <a href="http://demos.telerik.com/kendo-ui/templates/index">Templates</a>
                </li>
                <li>
                <a href="http://demos.telerik.com/kendo-ui/validator/angular">Validator</a>
                </li>
            </ul>
        </div>
    </div>
</div>
            </div>
