<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="Chinchilla.Logging.Configuration.LoggerSettingsConfigurationSection, Chinchilla.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.MessageBus.BlackListProcessing" value="false" />
		<add key="Cqrs.Akka.Tests.Unit.Commands.SayHelloWorldCommand.IsRequired" value="false" />
		<add key="Cqrs.Akka.Tests.Unit.Commands.ReplyToHelloWorldCommand.IsRequired" value="false" />
		<add key="Cqrs.Akka.Tests.Unit.Events.HelloWorldSaid.IsRequired" value="false" />
		<add key="Cqrs.Akka.Tests.Unit.Events.HelloWorldRepliedTo.IsRequired" value="false" />
		<add key="Cqrs.Events.SagaEvent[Cqrs.Akka.Tests.Unit.Events.HelloWorldSaid].IsRequired" value="false" />
		<add key="Cqrs.Events.SagaEvent[Cqrs.Akka.Tests.Unit.Events.HelloWorldRepliedTo].IsRequired" value="false" />
		<add key="Cqrs.Events.SagaEvent[Cqrs.Akka.Tests.Unit.Events.ConversationEnded].IsRequired" value="false" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<LoggerSettings EnableInfo="false" EnableDebug="false" EnableProgress="true" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableSensitive="false" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" UseApplicationInsightTelemetryHelper="false" UsePerformanceCounters="true" SqlDatabaseTableName="AltLogs" SqlDatabaseLogsConnectionStringName="EventingLogs.Local" />
</configuration>