<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<DefaultPushSource>http://source.cdmdotnet.com</DefaultPushSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
		<add key="cdmdotnet" value="https://sources.cdmdotnet.com/2802d240-3ed5-4afa-a3fb-0f2921683ef2/nuget" />
  </packageSources>
</configuration>