<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="Chinchilla.Logging.Configuration.LoggerSettingsConfigurationSection, Chinchilla.Logging"/>
	</configSections>

	<appSettings>
		<add key="ModuleName" value="Cqrs.Azure.ServiceBus.Tests.Unit" />
		<add key="Instance" value="All" />

		<add key="EnableSensitive" value="true" />
		<add key="EnableInfo" value="true" />
		<add key="EnableDebug" value="true" />
		<add key="EnableWarning" value="true" />
		<add key="EnableError" value="true" />
		<add key="EnableFatalError" value="true" />
		<add key="EnableThreadedLogging" value="false" />

		<add key="Cqrs.Secrets.TestKey" value="TestKey" />

		<add key="Cqrs.PrivateTopicSubscriptionName" value="PrivateTopicSubscription" />
		<add key="Cqrs.PublicTopicSubscriptionName" value="PublicTopicSubscription" />
		<add key="Cqrs.Noise" value="Cqrs.Noise" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<LoggerSettings
		ModuleName="Cqrs.Azure.ServiceBus.Tests.Unit"
		Instance="All"
		EnvironmentInstance=""
		Environment=""
		SqlDatabaseLogsConnectionStringName=""
		SqlDatabaseTableName=""
		LogsConnectionStringName=""
		LogsTableName=""
		UseApplicationInsightTelemetryHelper="false"
		UsePerformanceCounters="false"

		EnableInfo="true" 
		EnableSensitive="true" 
		EnableProgress="true" 
		EnableDebug="true" 
		EnableWarning="true" 
		EnableError="true" 
		EnableFatalError="true" 
		EnableThreadedLogging="true"
		EnableThreadedLoggingOutput="false"
		/>
</configuration>