<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="Chinchilla.Logging.Configuration.LoggerSettingsConfigurationSection, Chinchilla.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.RegisterDefaultConfigurationManager" value="true" />
		<add key="Cqrs.MongoDB.Tests.Integration.MongoDbSnapshotStoreTests+RandomNumberEvent.IsRequired" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="MongoDb-Test" connectionString="mongodb://localhost" />
	</connectionStrings>
	<LoggerSettings EnableInfo="true" EnableProgress="true" EnableSensitive="false" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" UseApplicationInsightTelemetryHelper="false" UsePerformanceCounters="false" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs" SqlDatabaseTableName="Logs" />
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>