<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="cdmdotnet.Logging.Configuration.LoggerSettingsConfigurationSection, cdmdotnet.Logging" />
	</configSections>
	<appSettings>
		<add key="Cqrs.RegisterDefaultConfigurationManager" value="true" />
		<add key="Cqrs.MongoDB.Tests.Integration.MongoDbSnapshotStoreTests+RandomNumberEvent.IsRequired" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="MongoDb-Test" connectionString="mongodb://localhost" />
	</connectionStrings>
	<LoggerSettings EnableInfo="true" EnableProgress="true" EnableSensitive="false" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="true" UseApplicationInsightTelemetryHelper="false" UsePerformanceCounters="false" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs" SqlDatabaseTableName="Logs" />
</configuration>