










<?xml version="1.0" encoding="utf-8"?>
<services>


	<service name="MyCompany.MyProject.Domain.Inventory.Services.InventoryItemService">
		<endpoint binding="basicHttpBinding" contract="MyCompany.MyProject.Domain.Inventory.Services.IInventoryItemService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>

	<service name="MyCompany.MyProject.Domain.Authentication.Services.UserService">
		<endpoint binding="basicHttpBinding" contract="MyCompany.MyProject.Domain.Authentication.Services.IUserService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>



	<!-- InventoryItemService does not need a binding -->

	<!-- UserService does not need a binding -->

</services>
