










<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
	<serviceActivations>


		<add
			factory="MyCompany.MyProject.Domain.Inventory.Services.ServiceHost.Ninject.ServiceHostFactories.InventoryItemServiceHostFactory"
			relativeAddress="Inventory_InventoryItemService.svc"
			service="MyCompany.MyProject.Domain.Inventory.Services.InventoryItemService"
		/>

		<add
			factory="MyCompany.MyProject.Domain.Authentication.Services.ServiceHost.Ninject.ServiceHostFactories.UserServiceHostFactory"
			relativeAddress="Authentication_UserService.svc"
			service="MyCompany.MyProject.Domain.Authentication.Services.UserService"
		/>



			<!-- InventoryItemService does not need a binding -->

			<!-- UserService does not need a binding -->

	</serviceActivations>
</serviceHostingEnvironment>
