<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
	<serviceActivations>


		<add
			factory="Northwind.Domain.Orders.Services.ServiceHost.Ninject.ServiceHostFactories.OrderServiceHostFactory"
			relativeAddress="Orders_OrderService.svc"
			service="Northwind.Domain.Orders.Services.OrderService"
		/>



	</serviceActivations>
</serviceHostingEnvironment>
