<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="LocalDefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\HelloWorld_data.mdf;Initial Catalog=HelloWorldExample;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress2014;Initial Catalog=HelloWorld;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>