<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
	<serviceActivations>
		<add
			factory="$ext_safeprojectname$.WcfAPI.Authentication.Services.ServiceHostFactories.AuthenticationServiceHostFactory"
			relativeAddress="Authentication/AuthenticationService.svc"
			service="$ext_safeprojectname$.MicroServices.Authentication.Services.AuthenticationService"
		/>
		<add
			factory="$ext_safeprojectname$.WcfAPI.Conversations.Services.ServiceHostFactories.ConversationServiceHostFactory"
			relativeAddress="Conversations/ConversationService.svc"
			service="$ext_safeprojectname$.MicroServices.Conversations.Services.ConversationService"
		/>
	</serviceActivations>
</serviceHostingEnvironment>