<?xml version="1.0" encoding="utf-8"?>
<services>
	<service name="$ext_safeprojectname$.MicroServices.Authentication.Services.AuthenticationService">
		<endpoint binding="basicHttpBinding" contract="$ext_safeprojectname$.MicroServices.Authentication.Services.IAuthenticationService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service name="$ext_safeprojectname$.MicroServices.Conversations.Services.ConversationService">
		<endpoint binding="basicHttpBinding" contract="$ext_safeprojectname$ .MicroServices.Conversations.Services.IConversationService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
</services>