<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="LoggerSettings" type="cdmdotnet.Logging.Configuration.LoggerSettingsConfigurationSection, cdmdotnet.Logging" />
		<section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.1.1209.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<LoggerSettings EnableInfo="false" EnableDebug="false" EnableProgress="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableSensitive="false" EnableThreadedLogging="true" ModuleName="MyCompany" Instance="MyApplication" EnvironmentInstance="Server1" Environment="Production" EnableThreadedLoggingOutput="false" UsePerformanceCounters="false" UseApplicationInsightTelemetryHelper="false" SqlDatabaseLogsConnectionStringName="Logging" SqlDatabaseTableName="Logs" />
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Cqrs.Azure.CommandBus.ConnectionString" value="Endpoint=sb://{Namespace}.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={Key}" />
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="Endpoint=sb://{Namespace}.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={Key}" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.TopicName" value="Cqrs.$ext_safeprojectname$.EventsBus-Local" />
		<add key="Cqrs.Azure.EventBus.PrivateEvent.TopicName" value="Cqrs.$ext_safeprojectname$.EventsBus-Local.Private" />
		<add key="Cqrs.Azure.CommandBus.PublicEvent.TopicName" value="Cqrs.$ext_safeprojectname$.CommandBus-Local" />
		<add key="Cqrs.Azure.CommandBus.PrivateEvent.TopicName" value="Cqrs.$ext_safeprojectname$.CommandBus-Local.Private" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.TopicName.SubscriptionName" value="API" />
		<add key="Cqrs.WebApi.AuthenticationTokenType" value="Guid" />
		<add key="Cqrs.SqlDataStore.ConnectionStringName" value="DataStore" />
		<add key="Cqrs.SqlEventStore.ConnectionStringName" value="EventStore" />
		<add key="Cqrs.MessageBus.BlackListProcessing" value="false" />
		<add key="Cqrs.AuthenticationTokenType" value="Guid" />
		<add key="Cqrs.Hosts.EnableEventReceiving" value="false" />
		<add key="Cqrs.Hosts.EnableCommandReceiving" value="false" />

		<add key="Cqrs.Hosts.ApplicationInsightsInstrumentationKey" value="ApiKey" />
	</appSettings>
	<connectionStrings>
		<add name="Logs" connectionString="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="DataStore" connectionString="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="EventStore" connectionString="Data Source=localhost;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<!--
		<add name="DataStore"  connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Initial Catalog=$ext_safeprojectname$.mdf;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="EventStore" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Initial Catalog=$ext_safeprojectname$.mdf;Initial Catalog=$ext_safeprojectname$;Integrated Security=True;" providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>
	<!--
	For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

	The following attributes can be set on the <httpRuntime> tag.
		<system.Web>
		<httpRuntime targetFramework="4.6" />
		</system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<!-- don't disclose ASP.NET version -->
		<httpRuntime enableVersionHeader="false" targetFramework="4.6" maxRequestLength="1048576" executionTimeout="6000" />
	</system.web>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="Server" />
				<remove name="X-AspNet-Version" />
				<!--
				<add name="Access-Control-Allow-Origin" value="*" />
				-->
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PATCH, PUT, DELETE" />
				<add name="Access-Control-Allow-Headers" value="X-Token, Content-Type, Authorization" />
				<add name="Access-Control-Expose-Headers" value="X-Token, Content-Type" />
				<!-- http://blog.guybarrette.com/post/2014/01/12/Azure-Web-Sites-how-to-disable-sticky-sessions.aspx -->
				<add name="Arr-Disable-Session-Affinity" value="true" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<serviceHostingEnvironment configSource="system.serviceModel.serviceHostingEnvironment.config" />
		<services configSource="system.serviceModel.services.config" />
		<bindings>
			<customBinding>
				<binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="114748364" maxBytesPerRead="114748364" maxDepth="128" maxNameTableCharCount="114748364" maxStringContentLength="114748364" />
					</binaryMessageEncoding>
					<httpTransport transferMode="Streamed" maxBufferPoolSize="114748364" maxBufferSize="114748364" maxReceivedMessageSize="114748364" />
				</binding>
				<binding name="AspSmsX2Soap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding transferMode="Streamed" maxBufferPoolSize="114748364" maxReceivedMessageSize="114748364" maxBufferSize="114748364" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<readerQuotas maxDepth="32" maxStringContentLength="188192" maxArrayLength="600000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="AspSmsX2Soap">
				</binding>
				<binding name="AspSmsX2Soap1" />
			</basicHttpBinding>
		</bindings>
		<protocolMapping>
			<add scheme="https" binding="basicHttpBinding" />
			<add scheme="http" binding="basicHttpBinding" />
		</protocolMapping>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="114748364" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="114748364" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logMalformedMessages="true" maxMessagesToLog="50000" maxSizeOfMessageToLog="4748364" />
		</diagnostics>
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultSqlConnectionRetryStrategy="Fixed Interval Retry Strategy" defaultSqlCommandRetryStrategy="Fixed Interval Retry Strategy" defaultAzureServiceBusRetryStrategy="Fixed Interval Retry Strategy" defaultAzureStorageRetryStrategy="Fixed Interval Retry Strategy">
		<incremental name="Incremental Retry Strategy" />
		<fixedInterval name="Fixed Interval Retry Strategy" maxRetryCount="10" />
		<exponentialBackoff name="Exponential Backoff Retry Strategy" />
	</RetryPolicyConfiguration>
	<typeRegistrationProvidersConfiguration>
		<clear />
		<add name="Caching" sectionName="cachingConfiguration" />
		<add name="Cryptography" sectionName="securityCryptographyConfiguration" />
		<add name="Exception Handling" sectionName="exceptionHandling" />
		<add name="Instrumentation" sectionName="instrumentationConfiguration" />
		<add name="Logging" sectionName="loggingConfiguration" />
		<add name="Policy Injection" sectionName="policyInjection" />
		<add name="Security" sectionName="securityConfiguration" />
		<add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
		<add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
	</typeRegistrationProvidersConfiguration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
			</listeners>
		</trace>
		<!--
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\$ext_safeprojectname$.Wcf.Server.svclog"  />
				</listeners>
			</source>
		</sources>
		-->
	</system.diagnostics>
</configuration>