<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="Endpoint=sb://resultsdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=V2hfUBVki6uOzpHRtV2A7MuJS4WNMAfGg1hFJDEsuM0=" />
		<add key="Cqrs.Azure.CommandBus.ConnectionString" value="Endpoint=sb://resultsdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=V2hfUBVki6uOzpHRtV2A7MuJS4WNMAfGg1hFJDEsuM0=" />
	</appSettings>
</configuration>