<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="CreateTestData" value="true" />

		<add key="Cqrs.WebApi.AuthenticationTokenType" value="Guid" />

		<add key="Cqrs.Azure.WebJobs.PauseAndWaitMaximumCount" value="300" />
		<add key="Cqrs.Azure.WebJobs.PauseAndWait" value="false" />
		<add key="Cqrs.Azure.WebJobs.AppName" value="My CQRS WebJob" />
		<add key="Cqrs.Azure.WebJobs.ApplicationInsightsInstrumentationKey" value="" />
		<add key="Cqrs.Azure.WebJobs.EnabledApplicationInsightsDeveloperMode" value="false" />
		<add key="Cqrs.Azure.WebJobs.DisableWebJobHostControl" value="true" />
		<add key="Cqrs.Azure.WebJobs.EnableEventReceiving" value="true" />
		<add key="Cqrs.Azure.WebJobs.EnableCommandReceiving" value="true" />
		<add key="Cqrs.SqlDataStore.ConnectionStringName" value="DataStore" />
		<add key="Cqrs.SqlEventStore.ConnectionStringName" value="EventStore" />

		<add key="Cqrs.MessageBus.BlackListProcessing" value="false" />

		<add key="Cqrs.Azure.CommandBus.ConnectionString" value="Endpoint=sb://cqrstesting.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=nB62vplUZuU0DvNkaZ3v1KuDSja0Fi85HQs+SvFx1IM=" />
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="Endpoint=sb://cqrstesting.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=nB62vplUZuU0DvNkaZ3v1KuDSja0Fi85HQs+SvFx1IM=" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.TopicName" value="Cqrs.Chat.EventsBus-Local" />
		<add key="Cqrs.Azure.EventBus.PrivateEvent.TopicName" value="Cqrs.Chat.EventsBus-Local.Private" />
		<add key="Cqrs.Azure.CommandBus.PublicEvent.TopicName" value="Cqrs.Chat.CommandBus-Local" />
		<add key="Cqrs.Azure.CommandBus.PrivateEvent.TopicName" value="Cqrs.Chat.CommandBus-Local.Private" />

		<add key="Cqrs.Azure.WebJobs.DataDirectory" value="..\..\..\Chat.Api\App_data" />
	</appSettings>
	<connectionStrings>
		<add name="DataStore"  connectionString="Data Source=.\MSSQLSERVER2014;Initial Catalog=Chats;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="EventStore" connectionString="Data Source=.\MSSQLSERVER2014;Initial Catalog=Chats;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<!--
		<add name="DataStore"  connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Chats;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="EventStore" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Chats.mdf;Initial Catalog=Chats;Integrated Security=True;" providerName="System.Data.SqlClient" />
		-->
		<add name="Logs" connectionString="Data Source=.\MSSQLSERVER2014;Initial Catalog=Logs;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=cqrstesting;AccountKey=LtiafWSuiuwiMnamVBLidTH0sXpY8xkhLtElyluQJRnC0NH7BQf91bQdGfeq6P+UHBguHOl5O1a03fqv2qbO4Q==" />
		<add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=cqrstesting;AccountKey=LtiafWSuiuwiMnamVBLidTH0sXpY8xkhLtElyluQJRnC0NH7BQf91bQdGfeq6P+UHBguHOl5O1a03fqv2qbO4Q==" />
	</connectionStrings>
	<system.serviceModel>
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
			</listeners>
		</trace>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>