<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerSettings" type="Chinchilla.Logging.Configuration.LoggerSettingsConfigurationSection, Chinchilla.Logging" />
	</configSections>
	<LoggerSettings EnableInfo="true" EnableProgress="true" EnableDebug="false" EnableWarning="true" EnableError="true" EnableFatalError="true" EnableSensitive="false" EnableThreadedLogging="false" ModuleName="MyApplication" Instance="Server1" EnvironmentInstance="West-US Region" Environment="Production" UsePerformanceCounters="false" UseApplicationInsightTelemetryHelper="false" EnableThreadedLoggingOutput="true" SqlDatabaseLogsConnectionStringName="SqlDatabaseLogs" SqlDatabaseTableName="Logs" />
	<appSettings>
		<add key="Cqrs.Handlers.AutoRegisterAllHandlers" value="false" />
		<!-- <add key="Cqrs.AuthenticationTokenType" value="SingleSignOnToken" />-->
		<add key="LoadAllDataFirst" value="false" />
		<!-- The type of Bus to register, only set one to true and the rest to false -->
		<add key="EventBus.AzureServiceBus" value="false" />
		<add key="EventBus.InProcessBus" value="true" />
		<!-- The type of EventStore to register, only set one to true and the rest to false -->
		<add key="EventStore.MongoDB" value="false" />
		<add key="EventStore.SQL" value="true" />

		<!-- Sample SQL EventStore Settings -->
		<add key="Cqrs.SqlEventStore.ConnectionStringName" value="SqlEventStore" />
		<add key="Cqrs.SqlDataStore.ConnectionStringName" value="SqlDataStore" />
		<add key="Cqrs.SQL.RecordsetSize" value="50000" />

		<!-- Sample MongoDB EventStore Settings -->
		<add key="Cqrs.MongoDb.EventStore.ConnectionStringName" value="CqrsMongoDbEventStore" />
		<add key="Cqrs.MongoDb.EventStore.DatabaseName" value="EventStore" />
		<add key="Cqrs.MongoDb.EventStore.ThrowExceptionsOnIndexPreparation" value="false" />
		<add key="Cqrs.MongoDb.RecordsetSize" value="50000" />
		<!-- List structs here-->
		<add key="Cqrs.MongoDb.ExtraDataTypesToLoad" value="" />
		<!-- Sample Azure Servicebus Settings -->
		<add key="Cqrs.Azure.EventBus.ConnectionString" value="" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.TopicName" value="" />
		<add key="Cqrs.Azure.EventBus.PublicEvent.TopicName.SubscriptionName" value="Cqrs.Diagnostics.EventStoreToEventBusReplay" />
		<!-- The range of dates to replay event from and to -->
		<!--
		<add key="ToDate" value="29-June-2017" />
		<add key="FromDate" value="27-June-2017" />
		-->
		<add key="ResumeOnError" value="false" />

		<!-- A comma separated list of additional Ninject modules to load -->
		<add key="AdditionalNinjectModules" value="Results.Domain.Configuration.DomainNinjectModule" />




		<add key="ResultsSqlConnectionStringName" value="Results.Local" />
	</appSettings>
	<connectionStrings>
		<add name="CqrsMongoDbEventStore" connectionString="mongodb://127.0.0.1/EventStore" />
		<add name="SqlEventStore" connectionString="Data Source=localhost\MSSQLSERVER2016;Initial Catalog=Local.Results.EventStore;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="SqlDataStore" connectionString="Data Source=localhost\MSSQLSERVER2016;Initial Catalog=Local.Results.ReadStore;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />




		<add name="Results.Local" connectionString="Initial Catalog=Local.Results;Data Source=localhost\MSSQLSERVER2016;Trusted_Connection=True;Connection Timeout=30;MultipleActiveResultSets=False; Enlist=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.11.0" newVersion="4.1.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
