<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cdmdotnet.Logging" version="1.2.87.68" targetFramework="net45" />
  <package id="cdmdotnet.Performance" version="1.0.5.8" targetFramework="net40" />
  <package id="cdmdotnet.StateManagement" version="3.0.13.9" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.WindowsAzure.TransientFaultHandling" version="5.1.1212.0" targetFramework="net40" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" requireReinstallation="True" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="8.0.0" targetFramework="net45" />
</packages>