<?xml version="1.0" encoding="utf-8"?>
<services>


	<service name="Northwind.Domain.Orders.Services.OrderService">
		<endpoint binding="basicHttpBinding" contract="Northwind.Domain.Orders.Services.IOrderService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>



	<!-- OrderService does not need a binding -->

</services>
