<?xml version="1.0" encoding="utf-8"?>
<services>
	<service name="Chat.MicroServices.Authentication.Services.AuthenticationService">
		<endpoint binding="basicHttpBinding" contract="Chat.MicroServices.Authentication.Services.IAuthenticationService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
	<service name="Chat.MicroServices.Conversations.Services.ConversationService">
		<endpoint binding="basicHttpBinding" contract="Chat.MicroServices.Conversations.Services.IConversationService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
</services>