<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
	<serviceActivations>
		<add
			factory="Chat.WcfAPI.Conversations.Services.ServiceHostFactories.ConversationServiceHostFactory"
			relativeAddress="Conversations_ConversationService.svc"
			service="Chat.MicroServices.Conversations.Services.ConversationService"
		/>
	</serviceActivations>
</serviceHostingEnvironment>
